

$primary-color: #f13329;

/*圆形按钮*/
$cicle-memu-height: 100px !default;
$circle-menu-width: 100px !default;

/*底部导航的高度*/
$app-bottom-navigator-height: 46px !default;

/*搜索栏的高度*/
$search-height: 36px;

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
body,
html {
    height: 100%;
    // margin: 0 auto;
    margin: 0;
    // background: #f1f1f1;
  //font-size: 26px;
}

.clearfix {
    display: inline-block;
    &:after {
        display: block;
        content: '';
        height: 0;
        line-height: 0;
        clear: both;
        overflow: hidden;
    }
}

.gray-font-10 {
    margin: 4px 0;
    color: #ccc;
    font-size: 10px;
}

.gray-font-12 {
    margin: 4px 0;
    color: #ccc;
    font-size: 12px;
}

.gray-font-14 {
    margin: 4px 0;
    color: #ccc;
    font-size: 14px;
}
.grayer-font-12 {
     margin: 4px 0;
    color: #a3a3a3;
    font-size: 12px;
}
.orange-font-10 {
    margin: 4px 0;
    color: #f60;
    font-size: 10px;
}

.orange-font-12 {
    margin: 4px 0;
    color: #f60;
    font-size: 12px;
}

.orange-font-14 {
    margin: 4px 0;
    color: #f60;
    font-size: 14px;
}
.back-font-12{
    margin: 4px 0;
    color: #444;
    font-size: 12px;
}
.333-font-12 {
    margin: 4px 0;
    color: #333;
    font-size: 12px;
}
.333-font-14 {
    margin: 4px 0;
    color: #333;
    font-size: 14px;
}
.primary-color {
    margin: 4px 0;
    color: #f13329;
    font-size: 13px;
}
/*px转换为rem*/
@function px2rem($px,$base-font-size) {
    @return ($px / $base-font-size) * 1rem;
}

/* 文字一行显示，超出省略*/
.overflow-el {
    display: block;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/*解决移动端适配的1像素问题*/
@media(-webkit-min-device-pixel-ratio:1.5),
(min-device-pixel-ratio:1.5) {
    .border-1px {
        position: relative;
    }
    .border-1px::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid rgba(7, 17, 27, .1);
        transform: scaleY(0.7);
        box-sizing: border-box;
    }
    .border-1px::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        border-left: 1px solid rgba(7, 17, 27, .1);
        transform: scaleX(0.7);
        box-sizing: border-box;
    }
}

@media(-webkit-min-device-pixel-ratio:2),
(min-device-pixel-ratio:2) {
    .border-1px {
        position: relative;
    }
    .border-1px::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid rgba(7, 17, 27, .1);
        transform: scaleY(0.5);
        box-sizing: border-box;
    }
    .border-1px::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        border-left: 1px solid rgba(7, 17, 27, .1);
        transform: scaleX(0.5);
        box-sizing: border-box;
    }
}

